<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>消息</string>
		<key>icon</key>
		<string>icon_message</string>
	</dict>
	<dict>
		<key>title</key>
		<string>任务</string>
		<key>icon</key>
		<string>icon_message</string>
	</dict>
	<dict>
		<key>title</key>
		<string>订阅</string>
		<key>icon</key>
		<string>icon_message</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_member</string>
		<key>title</key>
		<string>会员中心</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_qr</string>
		<key>title</key>
		<string>扫一扫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_gift</string>
		<key>title</key>
		<string>最新活动</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_grayfoot</string>
		<key>title</key>
		<string>历史记录</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_download</string>
		<key>title</key>
		<string>离线下载</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_grayrecycle</string>
		<key>title</key>
		<string>清理缓存</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_feedback</string>
		<key>title</key>
		<string>意见反馈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icon_setting</string>
		<key>title</key>
		<string>设置</string>
	</dict>
</array>
</plist>
